// Colors
$light-green: rgb(126,213,111);
$std-green: rgb(85,197,122);
$dark-green: rgb(40,180,133);

$light-orange: #ffb900;
$dark-orange: #ff7730;

$light-blue: #2998ff;
$dark-blue: #5643fa;

$light-gray-bg: rgb(247, 247, 247);

$dark-gray: rgb(119,119,119);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

$font-size-main: 1.6rem;


// Grid varibles

$grid-width: 100rem;
$column-gutter: 6rem;
$row-gutter: 8rem;
